@switch (card.color) { @case ('pirate') {
<span class="card-icon">&#9760;</span>
} @case ('escape') {
<span class="card-icon">🚩</span>
} @case ('skullking') {
<span class="card-icon">&#9760;</span>
} @case ('mermaid') {
<span class="card-icon">🧜‍♀️</span>
} @case ('scarymary') {
<span class="card-icon">👻</span>
} @case ('spades') {
<div class="card-classic">
  <span class="card-icon" style="color: #4f7cff">&#9824;</span>
  <span class="card-value">{{ card.value }}</span>
</div>
} @case ('hearts') {
<div class="card-classic">
  <span class="card-icon" style="color: #e2557b">&#9829;</span>
  <span class="card-value">{{ card.value }}</span>
</div>
} @case ('diamonds') {
<div class="card-classic">
  <span class="card-icon" style="color: #7ed6df">&#9830;</span>
  <span class="card-value">{{ card.value }}</span>
</div>
} @case ('clubs') {
<div class="card-classic">
  <span class="card-icon" style="color: #ffe066">&#9827;</span>
  <span class="card-value">{{ card.value }}</span>
</div>
} @default {
<span>?</span>
} }
